{% extends 'base.html' %}

{% block title %} | Dashboard {% endblock %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">Dashboard de Usuario</h1>
          <p class="lead">Administra tus reservas RooMe</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Inicio</a>
          </li>
          <li class="breadcrumb-item active"> Dashboard</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}

  <section id="dashboard" class="py-4 mb-auto">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>¡Bienvenido {{ user.first_name }}!</h2>
          {% if room  %}
          <p>Aqui estan las Habitaciones que reservaste</p>   
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#id</th>
                  <th scope="col">Habitacion</th>
                  <th scope="col">Departamento</th>
                  <th scope="col">Fecha de reserva</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    <td>{{ room.id }}</td>
                    <td>{{ room.title }}</td>
                    <td>{{ room.state }}</td>
                    <td>{{ reserva.fecha_reserva }}</td>
                    <td>
                      <a class="btn btn-success" href="{% url 'room' id=room.id %}">Ver habitación</a>
                    </td>
                    <td>
                      <a class="btn btn-success" href="{% url 'delete_room' %}">Cancelar reserva</a>
                    </td>
                    <td>
                      <a class="btn btn-success" href="https://www.pse.com.co/persona">Pagar</a>
                    </td>
                  </tr>
              </tbody>
            </table>
          {% else %}
            <p>No has hecho ninguna reserva.</p>
          {% endif %}
          <a class="btn btn-success" href="{% url 'delete_account' %}">Eliminar cuenta</a>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}