
<h1>Home</h1>

<div class="container">

    {% if user.is_authenticated %}
        <h2>Bienvenido, {{ user.username }}!</h2>
        <h3>RENTA TU HABITACION</h3>
        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'register' %}">Register</a>
            <a href="{% url 'login' %}">Log In</a>
            <a href="{% url 'logout' %}">Log Out</a>
        </nav>
    {% else %}
        <h1>RENTA TU HABITACION</h1>
        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'register' %}">Register</a>
            <a href="{% url 'login' %}">Log In</a>
        </nav>
    {% endif %}
    
</div>