{% extends 'base.html' %}

{% block title %} | Inicio sesion {% endblock %}

{% block content %}
<section id="login" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-5 mx-auto">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h4>
                <i class="fas fa-sign-in-alt"></i> Inicia sesion</h4>
            </div>
            <div class="card-body">
              <!-- Alerts -->
              {% include 'partials/_alerts.html' %}
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                      <div class="form-group">
                          <input type="text" name="username" class="form-control" placeholder="Usuario" required>
                          <!-- <box-icon name='envelope'></box-icon> -->
                      </div>
                      <div class="form-group">
                          <input type="password" name="password" class="form-control" placeholder="Contraseña" required>
                          
                      </div>
                      <input type="submit" value="Inicia Sesion" class="btn btn-success btn-block mb-2">
                      <div class="extra-login clearfix">
                          <span><p>No tienes cuenta? <a href="{% url 'register' %}" class="thembo"> Registrate aqui</a></p></span>
                      </div>
                      <div class="clearfix"></div>
                  
                  </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}


