{% extends 'base.html' %} 

{% load static %}

{% block title %} | Sobre RooMe {% endblock %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">Sobre RooMe</h1>
          <p class="lead">Comodidad fuera de tu ciudad</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Inicio</a>
          </li>
          <li class="breadcrumb-item active"> Sobre RooMe</li>
        </ol>
      </nav>
    </div>
  </section>

  <section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="">
          <h2>En busca de la habitacion perfecta</h2>
          <p class="lead">En RooMe trabajamos para ofrecerte la mejor habitacion a un precio justo!</p>
          <img src="{% static 'img/hero-sec.jpg' %}" alt="" class="imagen-pequena"> 
          <p class="mt-4">
            ¡Bienvenido a RooMe de renta de habitaciones! Convierte tus viajes en experiencias únicas 
            al encontrar la habitación perfecta para tu estadía. Navega por una amplia selección de alojamientos 
            de calidad, desde acogedores bed and breakfasts hasta lujosos apartamentos, y reserva con facilidad. 
            Con fotos detalladas, reseñas confiables y opciones de filtrado personalizado, planificar tu 
            próxima escapada nunca ha sido tan sencillo. Descubre la comodidad, la autenticidad y la variedad 
            que ofrecemos, y comienza a crear recuerdos inolvidables con cada estadía. 
            ¡Bienvenido a tu hogar lejos de casa!</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Work -->
  <section id="work" class="text-white text-center">
    <h2 class="display-4">Trabajamos para ti</h2>
    <h4>Encuentra las mejores habitaciones con RooMe, seguridad, calidad y comodidad en un solo lugar. No te pierdas de nuestros servicios.</h4>
    <hr>
    
  </section>

  <!-- Team -->
  <section id="team" class="py-5">
    <div class="container">
      <h2 class="text-center">Nuestro equipo</h2>
      <div class="row text-center">
        <h1>Equipo RooMe</h1>    
      </div>
    </div>
  </section>
{% endblock %}
