/* Cambia el font-family en el cuerpo de tu página */
body {
  font-family: 'Poppins', sans-serif;
}


.color-personalizado {
  color: #6C96F8; /* Reemplaza esto con tu valor hexadecimal */
}
.btn-secondary {
  color: #fff !important; }

img {
  width: 100%; }

.logo {
  width: 120px; }

.navbar {
  opacity: 0.9;
  text-transform: uppercase; }

  .img-main{
    height: 500px;
    width: auto;
  }


.social a {
  margin-right: 0.4rem; }

.container-section{
  height:100%
}

.imagen-pequena {
  max-width: 50%; /* Puedes ajustar el valor para controlar el tamaño de la imagen */
  height: auto; /* Mantiene la proporción de la imagen */
  display: block;
  margin-left: auto;
  margin-right: auto;
}


#showcase {
  /* fixed cover */
  /* background: linear-gradient(rgba(51, 51, 51, 0.5), rgba(51, 51, 51, 0.5)); */
  background:linear-gradient(rgba(37, 37, 37, 0.65), rgba(37, 37, 37, 0.65)),
  url(../img/hero-sec.jpg) no-repeat center center fixed;
  /* background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; */
  background-size: cover;
  position: relative;
  
  min-height: 650px;
  color: #fff;
  padding-top: 6rem; }
  #showcase .home-search {
    min-height: 400px;
    position: relative;
    border-radius: 5px; }
  #showcase .overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 400px;
    width: 100%;
    
    /* background: rgba(51, 51, 51, 0.904);*/ } 

#register {
  background:linear-gradient(rgba(37, 37, 37, 0.65), rgba(37, 37, 37, 0.65)),
  url(../img/hero-sec.jpg) no-repeat center center fixed;
  background-size: cover;
  position: relative;
}
#login {
  height: 80vh;
  background:linear-gradient(rgba(37, 37, 37, 0.65), rgba(37, 37, 37, 0.65)),
  url(../img/hero-sec.jpg) no-repeat center center fixed;
  background-size: cover;
  position: relative;
}

#services {
  /* background: url(../img/building.jpg) no-repeat top center fixed/cover; */
  min-height: 300px;
  position: relative; 
  overflow: hidden; }
  #services::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: #6C96F8; }

#showcase-inner {
  /* background: url(../img/building.jpg) no-repeat fixed; */
  position: relative;
  overflow: hidden; 
  min-height: 200px; }
  #showcase-inner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: #6C96F8; }
  #showcase-inner.showcase-search {
    min-height: 270px; }

#work {
  background: #6C96F8;
  padding: 6rem 0; }

.listing-preview a {
  position: relative; }

@media (max-width: 991px) {
  #showcase {
    padding-top: 4rem; }
    #showcase h1 {
      font-size: 40px; }
  .hide-md-down {
    display: none; } }

@media (max-width: 768px) {
  #showcase {
    padding-top: 3rem; }
    #showcase h1 {
      font-size: 40px; }
    #showcase p {
      display: none; }
  #top-bar {
    text-align: center; }
    #top-bar .social {
      text-align: center !important; } }

@media (max-width: 576px) {
  #showcase h1 {
    font-size: 30px; }
  #showcase-inner h1 {
    font-size: 40px; } }
